.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-bg {
  background-color: #282c34;
  color: white;
}

/* .App-bg-light {
  color-scheme: light;
} */
